.t-white {
  color: white;
}

html {
  font-size: 16px;
}

* {
  font-family: roboto, arial;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  margin: 0;
  background-image: -webkit-gradient(linear, left top, left bottom, from(#000614), to(#011936));
  background-image: -webkit-linear-gradient(#000614, #011936);
  background-image: -o-linear-gradient(#000614, #011936);
  background-image: linear-gradient(#000614, #011936);
  overflow-x: hidden;
}

.header {
  width: 100%;
  background-color: black;
  height: 70px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 0 20px;
}

.header .headerContent {
  width: 100%;
  max-width: 1350px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: auto;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.header .logo {
  color: white;
  font-size: 1.3rem;
  font-weight: bold;
  width: 30%;
  padding-top: 20px;
}

.header .menuBtn {
  font-size: 1.1rem;
  text-decoration: none;
  color: white;
  font: weight 400px;
  height: 70px;
  display: inline-block;
  padding-top: 25px;
  font-weight: 400;
  -webkit-transition: letter-spacing .2s;
  -o-transition: letter-spacing .2s;
  transition: letter-spacing .2s;
  position: relative;
}

.header .menuBtn:hover {
  letter-spacing: 1px;
}

.header .menuBtn:before {
  position: absolute;
  bottom: 0;
  width: 0;
  height: 3px;
  background-color: #f1ca0b;
  -webkit-transition: .2s;
  -o-transition: .2s;
  transition: .2s;
  content: '';
}

.header .menuBtn:hover:before {
  width: 100%;
}

.header .menuPart {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 45%;
  max-width: 550px;
}

.header .searchBox {
  background-color: white;
  width: 200px;
  border: none;
  border-radius: 50px;
  padding-left: 10px;
  height: 30px;
  outline: none;
}

.header .searchBoxContainer {
  padding-top: 19px;
  position: relative;
}

.header .i-search {
  width: 30px;
  height: 30px;
  color: black;
  position: absolute;
  top: 23px;
  right: 0;
}

.mainSection {
  width: 100%;
}

.orangeBtn, .grayBtn {
  background-color: #f96400;
  margin-right: 5px;
  color: white;
  text-decoration: none;
  font-size: 16px;
  padding: 10px 20px;
  cursor: pointer;
}

.orangeBtn .material-icons, .grayBtn .material-icons {
  font-size: 18px;
  margin-right: 10px;
  -webkit-transform: translateY(3px);
      -ms-transform: translateY(3px);
          transform: translateY(3px);
}

.grayBtn {
  background-color: #636363;
}

section {
  padding-bottom: 50px;
  width: 100%;
  max-width: 1350px;
  margin: auto;
  padding: 0 20px 100px 20px;
  margin-bottom: 100px;
}

section h1 {
  color: white;
}

h1 {
  font-size: 1.5rem;
  position: relative;
}

h1:before {
  content: '';
  width: 5px;
  height: 70%;
  background-color: #f1ca0b;
  position: absolute;
  top: 5px;
  left: -13px;
}

.Calibri {
  font-family: 'calibri', Arial;
}

.footer {
  color: white;
  background-image: -webkit-gradient(linear, left top, left bottom, from(#232323), to(#000));
  background-image: -webkit-linear-gradient(top, #232323, #000);
  background-image: -o-linear-gradient(top, #232323, #000);
  background-image: linear-gradient(to bottom, #232323, #000);
  height: 303px;
}

.footer .footerContainer {
  text-align: center;
  padding-top: 20px;
}

.footer .footerLogo {
  font-size: 44px;
  font-weight: bold;
  margin: 20px 0 30px 0;
}

.footer .footerMenu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 600px;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin: auto;
}

.footer .menu {
  font-size: 1.1rem;
  margin-bottom: 30px;
  cursor: pointer;
}

.i-social {
  width: 40px;
  height: 40px;
  margin: 20px;
  cursor: pointer;
  background-repeat: no-repeat;
  background-size: contain;
  display: inline-block;
  position: relative;
}

.i-social:after {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  content: '';
  background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(0, 0, 0, 0)), to(black));
  background-image: -webkit-linear-gradient(rgba(0, 0, 0, 0), black);
  background-image: -o-linear-gradient(rgba(0, 0, 0, 0), black);
  background-image: linear-gradient(rgba(0, 0, 0, 0), black);
}

.social_1 {
  background-image: url(/img/icon_facebook.svg);
}

.social_2 {
  background-image: url(/img/icon_instagram.svg);
}

.social_3 {
  background-image: url(/img/icon_twitter.svg);
}

.modal {
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  position: fixed;
  left: 0;
  top: 0;
  z-index: 1;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.modal .modalContainer {
  padding: 50px;
  background-color: #00132B;
  width: 80%;
  min-width: 1350px;
  height: 80%;
  max-width: 1350px;
  max-height: 700px;
  min-height: 700px !important;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: relative;
  -webkit-transition: .3s;
  -o-transition: .3s;
  transition: .3s;
  -webkit-transform: scale(0);
      -ms-transform: scale(0);
          transform: scale(0);
}

.modal .modalContainer .i-close {
  cursor: pointer;
  color: white;
  font-size: 30px;
  position: absolute;
  top: 0;
  right: 0;
  padding: 25px;
}

.modal .subModal {
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.8);
  position: absolute;
  left: 0;
  top: 0;
  z-index: 1;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.modal .subModal .subModalContainer {
  background-color: rgba(0, 0, 0, 0);
  width: 80%;
  height: 80%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: relative;
  -webkit-transition: .3s;
  -o-transition: .3s;
  transition: .3s;
  -webkit-transform: scale(0);
      -ms-transform: scale(0);
          transform: scale(0);
}

.modal .subModal .subModalContainer .i-close {
  cursor: pointer;
  color: white;
  font-size: 30px;
  position: absolute;
  top: 39px;
  right: 129px;
  padding: 25px;
}

.modal .trailerVideo {
  width: 80%;
  height: 80%;
}

.modal .contentBox {
  position: relative;
  width: 100%;
  height: 100%;
}

.modal .contentBox .titleContainer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.modal .contentBox .movieTitle {
  color: white;
  font-size: 1.3rem;
  text-align: center;
  display: inline-block;
  width: auto;
  margin: auto;
  position: relative;
  margin-bottom: 40px;
}

.modal .contentBox .movieTitle:before {
  position: absolute;
  width: 100%;
  height: 1px;
  content: '';
  bottom: -10px;
  left: 0;
  background-color: #f96400;
}

.modal .contentBox .navigation {
  position: absolute;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  top: 20px;
  right: 55px;
}

.modal .contentBox .process {
  width: 7px;
  height: 7px;
  background-color: white;
  border-radius: 50px;
  margin-left: 30px;
  -webkit-transition: .3s linear;
  -o-transition: .3s linear;
  transition: .3s linear;
}

.modal .contentBox .process.movie, .modal .contentBox .process.selection, .modal .contentBox .process.checkout {
  width: 12px !important;
  height: 12px !important;
  -webkit-transform: translateY(-2px);
      -ms-transform: translateY(-2px);
          transform: translateY(-2px);
  position: relative;
}

.modal .contentBox .process.movie:before, .modal .contentBox .process.selection:before, .modal .contentBox .process.checkout:before {
  position: absolute;
  top: -30px;
  left: 0;
  text-align: center;
  color: white !important;
  font-family: 'calibri', Arial;
  white-space: nowrap;
}

.modal .contentBox .process.movie:before {
  content: 'Movie';
  -webkit-transform: translateX(-15px);
      -ms-transform: translateX(-15px);
          transform: translateX(-15px);
}

.modal .contentBox .process.selection:before {
  content: 'Select time & seat';
  -webkit-transform: translateX(-55px);
      -ms-transform: translateX(-55px);
          transform: translateX(-55px);
}

.modal .contentBox .process.checkout:before {
  content: 'Check out';
  -webkit-transform: translateX(-25px);
      -ms-transform: translateX(-25px);
          transform: translateX(-25px);
}

.modal .contentBox .infoContainer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  height: 90%;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
}

.modal .contentBox .movieImg {
  width: 40%;
  height: 100%;
  background-size: cover;
  background-position: center center;
}

.modal .contentBox .bookingBox, .modal .contentBox .movieInfoBox {
  padding-top: 40px;
  color: white;
  width: 57%;
  height: 100%;
  -webkit-transition: .3s;
  -o-transition: .3s;
  transition: .3s;
}

.modal .contentBox .bookingBox {
  -webkit-transform: translateX(400px);
      -ms-transform: translateX(400px);
          transform: translateX(400px);
  opacity: 0;
}

.modal .contentBox .bookingDateContainer {
  font-family: 'calibri', Arial;
  font-weight: bold;
  color: white;
}

.modal .contentBox .bookingDateContainer .currentMonth {
  color: white;
  font-weight: bold;
  color: #f96400;
  text-align: center;
  margin-bottom: 15px;
}

.modal .contentBox .bookingDateContainer .dateContainer .dateBox, .modal .contentBox .bookingDateContainer .dateContainer .dayBox {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.modal .contentBox .bookingDateContainer .dateContainer .day, .modal .contentBox .bookingDateContainer .dateContainer .date {
  width: 40px;
  text-align: center;
  margin-bottom: 10px;
  cursor: pointer;
  -webkit-transition: -webkit-transform .3s;
  transition: -webkit-transform .3s;
  -o-transition: transform .3s;
  transition: transform .3s;
  transition: transform .3s, -webkit-transform .3s;
}

.modal .contentBox .bookingDateContainer .dateContainer .dayBox {
  background-color: #A5A5A5;
  height: 36px;
}

.modal .contentBox .bookingDateContainer .dateContainer .date {
  margin-top: 7px;
}

.modal .contentBox .section {
  margin-bottom: 50px;
  color: white;
}

.modal .contentBox .titleBox {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  font-size: 1.1rem;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-bottom: 25px;
  position: relative;
}

.modal .contentBox .titleBox span:last-child {
  -webkit-transform: translateY(2px);
      -ms-transform: translateY(2px);
          transform: translateY(2px);
  margin-left: 10px;
}

.modal .contentBox .timeBoxContainer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  font-family: 'calibri', Arial;
}

.modal .contentBox .timeBtnBox {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.modal .contentBox .timeBtn {
  border: 1px solid white;
  padding: 7px 15px;
  margin-right: 10px;
  cursor: pointer;
}

.modal .contentBox .seat {
  -webkit-transform: translateY(7px);
      -ms-transform: translateY(7px);
          transform: translateY(7px);
}

.modal .contentBox .seatContainer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  position: relative;
}

.modal .contentBox .seatColumn .seatGradeBox {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.modal .contentBox .seatColumn .seatGradeBox .gradeBox {
  width: 13px;
  height: 13px;
  background-color: white;
  -webkit-transform: translateY(1px);
      -ms-transform: translateY(1px);
          transform: translateY(1px);
  margin-right: 10px;
}

.modal .contentBox .seatColumn .seatGradeBox .gradeBox.yellow {
  background-color: #f1ca0b;
}

.modal .contentBox .seatColumn .seatGradeBox .gradeBox.red {
  background-color: red;
}

.modal .contentBox .seatColumn .priceBox {
  margin: 15px 0;
}

.modal .contentBox .seatColumn .priceBox .price {
  font-size: 1.3rem;
}

.modal .contentBox .seatColumn #people {
  padding: 8px 10px;
  width: 130px;
}

.modal .contentBox .seatColumn #searchSeat {
  background: none;
  color: #f1ca0b;
  border: 1px solid #f1ca0b;
  outline: none;
  padding: 10px 15px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  cursor: pointer;
}

.modal .contentBox .seatColumn #searchSeat .i-seat {
  width: 15px;
  height: 15px;
  margin-right: 10px;
  -webkit-transform: translateY(-3px);
      -ms-transform: translateY(-3px);
          transform: translateY(-3px);
}

.modal .contentBox .infoTopPart {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.modal .movieDescriction {
  line-height: 25px;
}

.activeModal > div {
  -webkit-transform: scale(1) !important;
      -ms-transform: scale(1) !important;
          transform: scale(1) !important;
}

.status {
  background-color: #f96400 !important;
}

.status:before {
  color: #f96400 !important;
}

.status:after {
  opacity: 0;
  position: absolute;
  content: '';
  background: #f96400;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  border-radius: 50px;
}

.select {
  color: #f96400 !important;
  -webkit-transform: translateY(-7px);
      -ms-transform: translateY(-7px);
          transform: translateY(-7px);
}

.lastPriceBox {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.lastPriceBox .priceBox {
  margin: 0 !important;
  text-align: right;
  font-weight: bold;
}

.lastPriceBox .priceBox .price {
  font-size: 1.5rem !important;
}

.processingButtonBox {
  position: absolute;
  bottom: 0;
  right: 0;
}

.whiteBorderBtn {
  padding: 10px 15px;
  background: none;
  border: 1px solid white;
  color: white;
  outline: none;
  cursor: pointer;
}

.yellowBorderBtn {
  padding: 10px 15px;
  background: none;
  border: 1px solid #f1ca0b;
  color: #f1ca0b;
  outline: none;
  cursor: pointer;
}

.backBtn {
  margin-right: 5px;
}

.i-adult {
  display: inline-block;
  margin-right: 3px;
  width: 30px;
  height: 30px;
  background: red;
  border-radius: 50px;
  position: relative;
}

.i-adult:before {
  position: absolute;
  content: '18';
  color: white;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
      -ms-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}

.i-adolescent {
  display: inline-block;
  margin-right: 3px;
  width: 30px;
  height: 30px;
  background: #fda500;
  border-radius: 50px;
  position: relative;
}

.i-adolescent:before {
  position: absolute;
  content: '15';
  color: white;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
      -ms-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}

.i-all {
  display: inline-block;
  margin-right: 3px;
  width: 30px;
  height: 30px;
  background: #00a800;
  border-radius: 50px;
  position: relative;
}

.i-all:before {
  position: absolute;
  content: 'All';
  color: white;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
      -ms-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}

.genreInfo {
  padding: 5px 10px;
  border-right: 1px solid white;
}

.genreInfo:last-child {
  border-right: none !important;
}

.iconBox {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.infoSubtitle {
  font-size: 20px;
  margin-bottom: 10px;
  margin-top: 30px;
}

.displayNone {
  display: none !important;
}

.activeProcess {
  -webkit-transform: translateX(-400px) !important;
      -ms-transform: translateX(-400px) !important;
          transform: translateX(-400px) !important;
  opacity: 0 !important;
  pointer-events: none !important;
}

.activeShow {
  -webkit-transform: translateX(0) !important;
      -ms-transform: translateX(0) !important;
          transform: translateX(0) !important;
  opacity: 1 !important;
}

.blink:after {
  -webkit-animation-name: dotBlink;
          animation-name: dotBlink;
  -webkit-animation-duration: 1s;
          animation-duration: 1s;
  -webkit-animation-iteration-count: infinite;
          animation-iteration-count: infinite;
}

@-webkit-keyframes dotBlink {
  0% {
    background-color: white;
    opacity: 1;
  }
  50% {
    background-color: #f96400;
    opacity: 1;
  }
  100% {
    background-color: white;
    opacity: 1;
  }
}

@keyframes dotBlink {
  0% {
    background-color: white;
    opacity: 1;
  }
  50% {
    background-color: #f96400;
    opacity: 1;
  }
  100% {
    background-color: white;
    opacity: 1;
  }
}

.activeOption {
  border-color: rgba(0, 0, 0, 0) !important;
  color: #f96400 !important;
  position: relative;
  -webkit-transition: .3s;
  -o-transition: .3s;
  transition: .3s;
}

.activeOption:after {
  position: absolute;
  width: 0;
  height: 0;
  content: '';
  border: solid #f96400;
  border-width: 1px 1px 0 0;
  top: -1px;
  left: -1px;
  -webkit-animation-name: activeBorder;
          animation-name: activeBorder;
  -webkit-animation-duration: .2s;
          animation-duration: .2s;
  -webkit-animation-fill-mode: forwards;
          animation-fill-mode: forwards;
  overflow: hidden;
}

.activeOption:before {
  position: absolute;
  width: 0;
  height: 0;
  content: '';
  border: solid #f96400;
  border-width: 0 0 1px 1px;
  bottom: 0;
  right: 0;
  -webkit-animation-name: activeBorder;
          animation-name: activeBorder;
  -webkit-animation-duration: .2s;
          animation-duration: .2s;
  -webkit-animation-fill-mode: forwards;
          animation-fill-mode: forwards;
  -webkit-animation-delay: .15s;
          animation-delay: .15s;
}

@-webkit-keyframes activeBorder {
  0% {
    width: 0;
    height: 0;
  }
  50% {
    width: 100%;
    height: 0;
  }
  100% {
    width: 100%;
    height: 100%;
  }
}

@keyframes activeBorder {
  0% {
    width: 0;
    height: 0;
  }
  50% {
    width: 100%;
    height: 0;
  }
  100% {
    width: 100%;
    height: 100%;
  }
}

.unavailableTime {
  border-color: #666666 !important;
  color: #666666 !important;
  cursor: not-allowed !important;
}

.unavailableTime + div {
  color: #666666 !important;
}

.soldOut {
  border-color: #666666 !important;
  color: #666666 !important;
  cursor: not-allowed !important;
}

.soldOut + div {
  color: #810000 !important;
}

.activeHurryUp {
  -webkit-animation-name: hurryup;
          animation-name: hurryup;
  -webkit-animation-duration: 1s;
          animation-duration: 1s;
  -webkit-animation-iteration-count: infinite;
          animation-iteration-count: infinite;
  position: relative;
}

.activeHurryUp:before {
  position: absolute;
  bottom: -30px;
  right: 0px;
  content: 'Sold out soon';
  background: white;
  padding: 5px 10px;
  width: 100px;
  border-radius: 5px;
}

.activeHurryUp:after {
  position: absolute;
  width: 0;
  height: 0;
  bottom: -2px;
  right: 50px;
  content: '';
  border: 7px solid;
  border-color: transparent transparent white transparent;
}

@-webkit-keyframes hurryup {
  0% {
    color: white;
  }
  50% {
    color: red;
  }
  100% {
    color: white;
  }
}

@keyframes hurryup {
  0% {
    color: white;
  }
  50% {
    color: red;
  }
  100% {
    color: white;
  }
}

.seatMapModal {
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.8);
  top: 0;
  left: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.seatMapModal .seatMapContainer {
  position: absolute;
  width: 80%;
  height: 80%;
  background-color: white;
  padding: 30px 40px;
  -webkit-transform: scale(0);
      -ms-transform: scale(0);
          transform: scale(0);
  -webkit-transition: .3s;
  -o-transition: .3s;
  transition: .3s;
}

.seatMapModal .seatMapContainer .i-close {
  color: #4b4b4b;
  top: -15px;
  right: -15px;
}

.seatMapModal .seatMapContainer .displayContainer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.seatMapModal .seatMapContainer .displayContainer .displayNumber {
  width: 60px;
  text-align: center;
  font-size: 45px;
  font-weight: bold;
  color: #f1ca0b;
  position: relative;
  margin-right: 20px;
}

.seatMapModal .seatMapContainer .displayContainer .displayNumber:before {
  position: absolute;
  content: 'seats left';
  bottom: -10px;
  font-weight: 400;
  left: 0;
  font-size: 16px;
  color: #838282;
  text-align: center;
  width: 100%;
  white-space: nowrap;
}

.seatMapModal .seatMapContainer .displayContainer .seatInfo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  color: #9c9c9c;
  background-color: #dfdfdf;
  padding: 2px 5px;
  width: 65px;
  height: 30px;
  font-family: 'calibri', Arial;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  border-radius: 5px;
  margin-top: 20px;
  margin-right: 5px;
  -webkit-transition: .3s;
  -o-transition: .3s;
  transition: .3s;
  max-width: 0;
  overflow: hidden;
  opacity: 0;
}

.seatMapModal .seatMapContainer .displayContainer .seatInfo .i-delete {
  font-size: 22px;
  color: #9e9e9e;
  cursor: pointer;
  -webkit-transform: translateY(2px);
      -ms-transform: translateY(2px);
          transform: translateY(2px);
}

.seatMapModal .seatMapContainer .displayContainer .seatInfo .seatData {
  font-size: 20px;
}

.seatMapModal .screen {
  border: 1px solid black;
  width: 100%;
  padding: 8px;
  text-align: center;
  margin-bottom: 55px;
}

.showSeatInfo {
  max-width: 70px !important;
  opacity: 1 !important;
}

.seatMapContainer .seat {
  border: 1px solid black;
  width: 32px;
  padding: 3px;
  display: inline-block;
  text-align: center;
  white-space: wrap;
  -webkit-transition: .3s;
  -o-transition: .3s;
  transition: .3s;
  cursor: pointer;
}

.seatMapContainer .seat::-moz-selection {
  background: none;
  color: none;
}

.seatMapContainer .seat::selection {
  background: none;
  color: none;
}

.passage {
  width: 119px;
  text-align: center;
  display: inline-block;
}

.seatLine {
  margin-bottom: 10px;
  white-space: nowrap;
}

.premiumSeat {
  background-color: #f1ca0b;
}

.unavailableSeat {
  background-color: red !important;
  opacity: .4;
  position: relative;
}

.unavailableSeat:before {
  position: absolute;
  top: 8px;
  left: -15px;
  width: 130%;
  height: 130%;
  border: solid black;
  border-width: 1px 0 0 0;
  content: '';
  -webkit-transform: rotate(40deg);
      -ms-transform: rotate(40deg);
          transform: rotate(40deg);
  pointer-events: none;
}

.unavailableSeat:after {
  position: absolute;
  top: 8px;
  left: 7px;
  width: 130%;
  height: 130%;
  border: solid black;
  border-width: 1px 0 0 0;
  content: '';
  -webkit-transform: rotate(-40deg);
      -ms-transform: rotate(-40deg);
          transform: rotate(-40deg);
  overflow: hidden;
  pointer-events: none;
}

.selected {
  position: relative;
}

.selected:after {
  position: absolute;
  content: '';
  background-color: rgba(36, 95, 172, 0.5);
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
}

.alertBox {
  position: absolute;
  background-color: white;
  color: red;
  padding: 5px 10px;
  border-radius: 5px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.fingerLeft {
  right: 55px;
  top: 0;
}

.fingerLeft img {
  width: 25px;
  height: 25px;
  margin-right: 10px;
  -webkit-animation-name: alertBox;
          animation-name: alertBox;
  -webkit-animation-duration: 1s;
          animation-duration: 1s;
  -webkit-animation-iteration-count: 3;
          animation-iteration-count: 3;
}

.fingerUp {
  left: 0px;
  top: 125px;
}

.fingerUp img {
  width: 25px;
  height: 25px;
  margin-right: 10px;
  -webkit-animation-name: alertBoxUp;
          animation-name: alertBoxUp;
  -webkit-animation-duration: 1s;
          animation-duration: 1s;
  -webkit-animation-iteration-count: 3;
          animation-iteration-count: 3;
  -webkit-transform: rotate(90deg);
      -ms-transform: rotate(90deg);
          transform: rotate(90deg);
}

.selectTimeContainer {
  position: relative;
}

@-webkit-keyframes alertBox {
  0% {
    -webkit-transform: translateX(-5px);
            transform: translateX(-5px);
  }
  50% {
    -webkit-transform: translateX(0px);
            transform: translateX(0px);
  }
  100% {
    -webkit-transform: translateX(-5px);
            transform: translateX(-5px);
  }
}

@keyframes alertBox {
  0% {
    -webkit-transform: translateX(-5px);
            transform: translateX(-5px);
  }
  50% {
    -webkit-transform: translateX(0px);
            transform: translateX(0px);
  }
  100% {
    -webkit-transform: translateX(-5px);
            transform: translateX(-5px);
  }
}

@-webkit-keyframes alertBoxUp {
  0% {
    -webkit-transform: translateY(-5px) rotate(90deg);
            transform: translateY(-5px) rotate(90deg);
  }
  50% {
    -webkit-transform: translateY(0px) rotate(90deg);
            transform: translateY(0px) rotate(90deg);
  }
  100% {
    -webkit-transform: translateY(-5px) rotate(90deg);
            transform: translateY(-5px) rotate(90deg);
  }
}

@keyframes alertBoxUp {
  0% {
    -webkit-transform: translateY(-5px) rotate(90deg);
            transform: translateY(-5px) rotate(90deg);
  }
  50% {
    -webkit-transform: translateY(0px) rotate(90deg);
            transform: translateY(0px) rotate(90deg);
  }
  100% {
    -webkit-transform: translateY(-5px) rotate(90deg);
            transform: translateY(-5px) rotate(90deg);
  }
}

.i-close {
  -webkit-transition: .5s;
  -o-transition: .5s;
  transition: .5s;
}

.i-close:hover {
  -webkit-transform: rotate(90deg);
      -ms-transform: rotate(90deg);
          transform: rotate(90deg);
}

option:disabled {
  background: black;
}

hr {
  border: none;
  height: 1px;
  background: #dcdcdc;
}

.slideDown {
  -webkit-transform: translateY(0) !important;
      -ms-transform: translateY(0) !important;
          transform: translateY(0) !important;
  opacity: 1 !important;
  -webkit-transition: .3s;
  -o-transition: .3s;
  transition: .3s;
}
