.t-white {
  color: white;
}

html {
  font-size: 16px;
}

* {
  font-family: roboto, arial;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  margin: 0;
  background-image: -webkit-gradient(linear, left top, left bottom, from(#000614), to(#011936));
  background-image: linear-gradient(#000614, #011936);
  overflow-x: hidden;
}

.header {
  width: 100%;
  background-color: black;
  height: 70px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 0 20px;
}

.header .headerContent {
  width: 100%;
  max-width: 1350px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: auto;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.header .logo {
  color: white;
  font-size: 1.3rem;
  font-weight: bold;
  width: 30%;
  padding-top: 20px;
}

.header .menuBtn {
  font-size: 1.1rem;
  text-decoration: none;
  color: white;
  font: weight 400px;
  height: 70px;
  display: inline-block;
  padding-top: 25px;
  font-weight: 400;
  -webkit-transition: letter-spacing .2s;
  transition: letter-spacing .2s;
  position: relative;
}

.header .menuBtn:hover {
  letter-spacing: 1px;
}

.header .menuBtn:before {
  position: absolute;
  bottom: 0;
  width: 0;
  height: 3px;
  background-color: #f1ca0b;
  -webkit-transition: .2s;
  transition: .2s;
  content: '';
}

.header .menuBtn:hover:before {
  width: 100%;
}

.header .menuPart {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 45%;
  max-width: 550px;
}

.header .searchBox {
  background-color: white;
  width: 200px;
  border: none;
  border-radius: 50px;
  padding-left: 10px;
  height: 30px;
  outline: none;
}

.header .searchBoxContainer {
  padding-top: 19px;
  position: relative;
}

.header .i-search {
  width: 30px;
  height: 30px;
  color: black;
  position: absolute;
  top: 23px;
  right: 0;
}

.mainSection {
  width: 100%;
}

.orangeBtn, .grayBtn {
  background-color: #f96400;
  color: white;
  text-decoration: none;
  font-size: 16px;
  padding: 10px 20px;
  cursor: pointer;
}

.orangeBtn .material-icons, .grayBtn .material-icons {
  font-size: 18px;
  margin-right: 10px;
  -webkit-transform: translateY(3px);
          transform: translateY(3px);
}

.grayBtn {
  background-color: #636363;
}

section {
  padding-bottom: 50px;
  width: 100%;
  max-width: 1350px;
  margin: auto;
  padding: 0 20px 100px 20px;
  margin-bottom: 100px;
}

section h1 {
  color: white;
}

h1 {
  font-size: 1.5rem;
  position: relative;
}

h1:before {
  content: '';
  width: 5px;
  height: 70%;
  background-color: #f1ca0b;
  position: absolute;
  top: 5px;
  left: -13px;
}

.Calibri {
  font-family: 'calibri', Arial;
}

.footer {
  color: white;
  background-image: -webkit-gradient(linear, left top, left bottom, from(#232323), to(#000));
  background-image: linear-gradient(to bottom, #232323, #000);
  height: 303px;
}

.footer .footerContainer {
  text-align: center;
  padding-top: 20px;
}

.footer .footerLogo {
  font-size: 44px;
  font-weight: bold;
  margin: 20px 0 30px 0;
}

.footer .footerMenu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 600px;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin: auto;
}

.footer .menu {
  font-size: 1.1rem;
  margin-bottom: 30px;
  cursor: pointer;
}

.i-social {
  width: 40px;
  height: 40px;
  margin: 20px;
  cursor: pointer;
  background-repeat: no-repeat;
  background-size: contain;
  display: inline-block;
  position: relative;
}

.i-social:after {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  content: '';
  background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(0, 0, 0, 0)), to(black));
  background-image: linear-gradient(rgba(0, 0, 0, 0), black);
}

.social_1 {
  background-image: url(/img/icon_facebook.svg);
}

.social_2 {
  background-image: url(/img/icon_instagram.svg);
}

.social_3 {
  background-image: url(/img/icon_twitter.svg);
}
/*# sourceMappingURL=common.css.map */