$f-25: 1.4rem;
$f-30:1.5rem;
$f-22:1.3rem;
$f-18:1.1rem;
$orange: #f96400;
$yellow: #f1ca0b;

.t-white{
    color:white;
}

h1,h2,h3{
    // margin-bottom:0;
}

html{
    font-size:16px;
}
*{
    font-family:roboto, arial;
    box-sizing:border-box;
}
body{
    margin:0;
    background-image: linear-gradient(#000614, #011936);
    overflow-x:hidden;
    
    // height:100vh;
}

.header{
    width:100%;
    background-color:black;
    height:70px;
    display:flex;
    align-items: center;
    padding:0 20px;
    .headerContent{
        width:100%;
        max-width:1350px;
        display:flex;
        margin:auto;
        justify-content: space-between;
    }
    .logo{
        color:white;
        font-size:$f-22;
        font-weight:bold;
        width:30%;
        padding-top:20px;
    }
    .menuBtn{
        font-size:$f-18;
        text-decoration: none;
        color:white;
        font: weight 400px;;
        height:70px;
        display:inline-block;
        padding-top:25px;
        font-weight: 400;
        transition:letter-spacing .2s;
        position:relative;
        &:hover{
            letter-spacing: 1px;
        }
        &:before{
            position:absolute;
            bottom:0;
            width:0;
            height:3px;
            background-color:$yellow;
            transition: .2s;
            content:'';
        }
        &:hover:before{
            width:100%;
        }
    }
    .menuPart{
        display:flex;
        justify-content: space-between;
        width:45%;
        max-width:550px;
    }
    .searchBox{
        background-color:white;
        width: 200px;
        border:none;
        border-radius: 50px;
        padding-left:10px;
        height:30px;
        outline:none;
    }
    .searchBoxContainer{
        padding-top:19px;
        position:relative;
    }
    .i-search{
        width:30px;
        height:30px;
        color:black;
        position:absolute;
        top:23px;
        right:0;
    }
}

.mainSection{
    width:100%;
    // height: calc(100vh - 70px);
}
.orangeBtn,.grayBtn{
    background-color:$orange;
    margin-right:5px;
    color:white;
    text-decoration: none;
    font-size:16px;
    padding:10px 20px;
    cursor:pointer;
    .material-icons{
        font-size:18px;
        margin-right:10px;
        transform:translateY(3px)
    }
}
.grayBtn{
    background-color:#636363;
}
section{
    padding-bottom:50px;
    width:100%;
    max-width:1350px;
    margin:auto;
    padding: 0 20px 100px 20px;
    margin-bottom:100px;
    h1{
        color:white;
    }
}
h1{
    font-size:$f-30;
    position:relative;
    // margin-left:3px;
    &:before{
        content:'';
        width:5px;
        height:70%;
        background-color:$yellow;
        position:absolute;
        top:5px;
        left:-13px;
    }
}
.Calibri{
    font-family: 'calibri', Arial
}
.footer{
    color:white;
    background-image: linear-gradient(to bottom, #232323, #000);
    height:303px;
    .footerContainer{
        text-align: center;
        padding-top:20px;
    }
    .footerLogo{
        font-size:44px;
        font-weight: bold;
        margin:20px 0 30px 0;
    }
    .footerMenu{
        display:flex;
        width:600px;
        justify-content: space-between;
        margin:auto;
    }
    .menu{
        font-size:$f-18;
        margin-bottom:30px;
        cursor:pointer;
    }


}

.i-social{
    width:40px;
    height:40px;
    margin:20px;
    cursor:pointer;
    background-repeat: no-repeat;
    background-size: contain;
    display:inline-block;
    position:relative;
    &:after{
        position:absolute;
        top:0;
        left:0;
        width:100%;
        height:100%;
        content:'';
        background-image:linear-gradient(rgba(0,0,0,0), rgba(0,0,0,1))
    }
}
.social_1{
    background-image: url(/img/icon_facebook.svg);
}
.social_2{
    background-image: url(/img/icon_instagram.svg);
}
.social_3{
    background-image: url(/img/icon_twitter.svg);
}

.modal{
    width:100%;
    height:100%;
    background-color:rgba(0,0,0,0.5);
    position:fixed;
    left:0;
    top:0;
    z-index:1;
    display:flex;
    justify-content: center;
    align-items: center;
    .modalContainer{
        padding:50px;
        background-color:#00132B;
        width:80%;
        min-width:1350px;
        height:80%;
        max-width:1350px;
        max-height:700px;
        min-height:700px !important;
        display:flex;
        justify-content: center;
        align-items: center;
        position:relative;
        transition:.3s;
        transform:scale(0);
        .i-close{
            cursor:pointer;
            color:white;
            font-size: 30px;
            position:absolute;
            top:0;
            right:0;
            padding:25px;
        }
    }
    .subModal{
        width:100%;
        height:100%;
        background-color:rgba(0,0,0,0.5);
        position:absolute;
        left:0;
        top:0;
        z-index:1;
        display:flex;
        justify-content: center;
        align-items: center;
        .subModalContainer{
            // padding:50px;
            background-color:rgba(0,0,0,0);
            width:80%;
            height:80%;
            display:flex;
            justify-content: center;
            align-items: center;
            position:relative;
            transition:.3s;
            transform:scale(0);
            .i-close{
                cursor: pointer;
                color: white;
                font-size: 30px;
                position: absolute;
                top: 39px;
                right: 129px;
                padding: 25px;
            }
        }
    }
    .trailerVideo{
        width:80%;
        height:80%;
    }
    .contentBox{
        position:relative;
        width:100%;
        height:100%;
        .titleContainer{
            display:flex;
            justify-content: center;
        }
        .movieTitle{
            color:white;
            font-size:$f-22;
            text-align: center;
            display:inline-block;
            width:auto;
            margin:auto;
            position:relative;
            margin-bottom:40px;
            &:before{
                position:absolute;
                width:100%;
                height:1px;
                content:'';
                bottom:-10px;
                left:0;
                background-color:$orange;
            }
        }
        .navigation{
            position:absolute;
            display:flex;
            top:20px;
            right:55px;
        }
        .process{
            width: 7px;
            height:7px;
            background-color:white;
            border-radius: 50px;
            margin-left:30px;
            transition:.3s linear;
        }
        .process.movie,.process.selection,.process.checkout{
            width:12px !important;
            height:12px !important;
            transform: translateY(-2px);
            position:relative;
            &:before{
                position:absolute;
                top:-30px;
                left:0;
                text-align: center;
                color:white;
                font-family: 'calibri', Arial;
                white-space: nowrap;
            }
        }
        .process.movie:before{
            content:'Movie';
            transform: translateX(-15px);
        }
        .process.selection:before{
            content:'Select time & seat';
            transform: translateX(-55px);
        }
        .process.checkout:before{
            content:'Check out';
            transform: translateX(-25px);
        }
        .infoContainer{
            display:flex;
            width:100%;
            height:90%;
            justify-content: space-between;
            flex-wrap: nowrap;
        }
        .movieImg{
            width:40%;
            height:100%;
            // background-image:url(../img/hero_1.jpg);
            background-size:cover;
            background-position: center center;
        }
        .bookingBox,.movieInfoBox{
            padding-top:40px;
            color:white;
            width:57%;
            height:100%;
            transition:.3s;
        }
        .bookingBox{
            transform:translateX(400px);
            opacity:0;
        }
        .bookingDateContainer{
            font-family: 'calibri', Arial;
            font-weight: bold;
            color:white;
            .currentMonth{
                color:white;  
                font-weight: bold;
                color:$orange;
                text-align: center;
                margin-bottom:15px;
            }
            .dateContainer{
                .dateBox, .dayBox{
                    display:flex;
                    justify-content: space-between;
                }
                .day,.date{
                    width:40px;
                    text-align: center;
                    margin-bottom:10px;
                    cursor:pointer;
                    transition: transform .3s;
                }
                .dayBox{
                    background-color:#A5A5A5;
                    height:36px;
                }
                .date{
                    margin-top:7px;
                }
            }
        }
        .section{
            margin-bottom:50px;
            color:white;
        }
        .titleBox{
            display:flex;
            font-size:$f-18;
            justify-content: center;
            margin-bottom:25px;
            position:relative;
            span:last-child{
                transform: translateY(2px);
                margin-left:10px;
            }
        }
        .timeBoxContainer{
            display:flex;
            justify-content: space-between;
            font-family: 'calibri', Arial;
        }
        .timeBtnBox{
            display:flex;
        }
        .timeBtn{
            border: 1px solid white;
            padding:7px 15px;
            margin-right:10px;
            cursor:pointer;
        }
        .seat{
            transform:translateY(7px);
        }
        .seatContainer{
            display:flex;
            justify-content: space-between;
            position:relative;
        }
        .seatColumn{
            .seatGradeBox{
                display:flex;
                .gradeBox{
                    width:13px;
                    height:13px;
                    background-color:white;
                    transform:translateY(1px);
                    margin-right:10px;
                }
                .gradeBox.yellow{
                    background-color:$yellow;
                }
                .gradeBox.red{
                    background-color:red;
                }
            }
            .priceBox{
                margin:15px 0;
                .price{
                    font-size: $f-22;
                }
            }

            #people{
                padding:8px 10px;
                width:130px;
            }
            #searchSeat{
                background:none;
                color:$yellow;
                border:1px solid $yellow;
                outline:none;
                padding:10px 15px;
                display:flex;
                cursor:pointer;
                
                .i-seat{
                    width:15px;
                    height:15px;
                    margin-right:10px;
                    transform: translateY(-3px);
                }
            }
        }

        .infoTopPart{
            display:flex;
            justify-content: space-between;
        }
    }
    .movieDescriction{
        line-height:25px;
    }
}

.activeModal > div{
    transform:scale(1) !important;
}
.status{
    background-color:$orange !important;
    &:before{
        color:$orange !important;
    }
    &:after{
        opacity:0;
        position:absolute;
        content:'';
        background:$orange;
        width:100%;
        height:100%;
        top:0;
        left:0;
        border-radius: 50px;
    }
}
.select{
    color:$orange !important;
    transform:translateY(-7px);
}
.lastPriceBox{
    display:flex;
    flex-direction: column;
    justify-content: space-between;
    .priceBox{
        margin:0 !important;
        text-align: right;
        font-weight: bold;
        .price{
            font-size:$f-30 !important;
        }
    }
}
.processingButtonBox{
    position:absolute;
    bottom:0;
    right:0;
    
}
.whiteBorderBtn{
    padding:10px 15px;
    background:none;
    border: 1px solid white;
    color:white;
    outline:none;
    cursor:pointer;
}
.yellowBorderBtn{
    padding:10px 15px;
    background:none;
    border: 1px solid $yellow;
    color:$yellow;
    outline:none;
    cursor:pointer;
}
.backBtn{
    margin-right:5px;
}
.i-adult{
    display:inline-block;
    margin-right:3px;
    width:30px;
    height:30px;
    background:red;
    border-radius: 50px;
    position:relative;
    &:before{
        position:absolute;
        content:'18';
        color:white;
        top:50%;
        left:50%;
        transform:translate(-50%,-50%);
    }
}
.i-adolescent{
    display:inline-block;
    margin-right:3px;
    width:30px;
    height:30px;
    background:rgb(253, 165, 0);
    border-radius: 50px;
    position:relative;
    &:before{
        position:absolute;
        content:'15';
        color:white;
        top:50%;
        left:50%;
        transform:translate(-50%,-50%);
    }
}
.i-all{
    display:inline-block;
    margin-right:3px;
    width:30px;
    height:30px;
    background:rgb(0, 168, 0);
    border-radius: 50px;
    position:relative;
    &:before{
        position:absolute;
        content:'All';
        color:white;
        top:50%;
        left:50%;
        transform:translate(-50%,-50%);
    }
}
.genreInfo{
    padding:5px 10px;
    border-right: 1px solid white;
    // margin:0 5px;
    &:last-child{
        border-right:none !important;
    }
}
.iconBox{
    display:flex;
    
}


.infoSubtitle{
    font-size:20px;
    margin-bottom:10px;
    margin-top:30px;
}

.displayNone{
    display:none !important;
}
.activeProcess{
    transform:translateX(-400px) !important;
    opacity:0 !important;
    pointer-events: none !important;
}
.activeShow{
    transform: translateX(0) !important;
    opacity:1 !important;
}
.blink{
    &:after{
        animation-name: dotBlink;
        animation-duration: 1s;
        animation-iteration-count: infinite;
    }
}

@keyframes dotBlink {
    0%{
        background-color:white;
        opacity:1;
    }
    50%{
        background-color:$orange;
        opacity:1;
    }
    100%{
        background-color:white;
        opacity:1;
    }
}
.activeOption{
    border-color:rgba(0,0,0,0) !important;
    color:$orange !important;
    position:relative;
    transition:.3s;
    &:after{
        position:absolute;
        width:0;
        height:0;
        content:'';
        border: solid $orange;
        border-width:1px 1px 0 0;
        top:-1px;
        left:-1px;
        // opacity:0;
        animation-name: activeBorder;
        animation-duration:.2s;
        animation-fill-mode: forwards;
        overflow:hidden;
    }
    &:before{
        position:absolute;
        width:0;
        height:0;
        content:'';
        border: solid $orange;
        border-width:0 0 1px 1px;
        bottom:0;
        right:0;
        // opacity:0;
        animation-name: activeBorder;
        animation-duration:.2s;
        animation-fill-mode: forwards;
        animation-delay: .15s;
    }
}
@keyframes activeBorder{
    0%{
        width:0;
        height:0;
    }
    50%{
        width:100%;
        height:0;
    }
    100%{
        width:100%;
        height:100%;
    }
}
.unavailableTime{
    border-color: rgb(102, 102, 102) !important;
    color:rgb(102, 102, 102) !important;
    cursor: not-allowed !important;
}
.unavailableTime + div {
    color:rgb(102, 102, 102) !important;
}
.soldOut{
    border-color: rgb(102, 102, 102) !important;
    color:rgb(102, 102, 102) !important;
    cursor: not-allowed !important;
}
.soldOut + div{
    color:rgb(129, 0, 0) !important;
}
.activeHurryUp{
    animation-name:hurryup;
    animation-duration:1s;
    animation-iteration-count:infinite;
    position:relative;
    &:before{
        position:absolute;
        bottom:-30px;
        right:0px;
        content:'Sold out soon';
        background:white;
        padding:5px 10px;
        width:100px;
        border-radius: 5px;
    }
    &:after{
        position:absolute;
        width:0;
        height:0;
        bottom:-2px;
        right:50px;
        content:'';
        border:7px solid;
        border-color: transparent transparent white transparent;
    }
}

@keyframes hurryup {
    0%{
        color:white;
    }
    50%{
        color:red;
    }
    100%{
        color:white;
    }
}
.seatMapModal{
    position:absolute;
    width:100%;
    height:100%;
    background-color:rgba(0,0,0,0.5);
    top:0;
    left:0;
    display:flex;
    justify-content: center;
    align-items:center;
    .seatMapContainer{
        position:absolute;
        width:80%;
        height:80%;
        background-color: white;
        padding:30px 40px;
    }
    .screen{
        border: 1px solid black;
        width:100%;
        padding:8px;
        text-align: center;
        margin-bottom:55px;
    }
}

.seatMapContainer .seat{
    border:1px solid black;
    width:32px;
    padding:3px;
    display:inline-block;
    text-align: center;
    white-space: wrap;
    cursor:pointer;
}
.passage{
    width:119px;
    text-align: center;
    display:inline-block;
}
.seatLine{
    margin-bottom:10px;
    white-space: nowrap;
}
.premiumSeat{
    background-color:$yellow;
}
.unavailableSeat{
    background-color:rgb(255, 0, 0) !important;
    opacity:.4;
    position:relative;
    // overflow:hidden;
    &:before{
        position: absolute;
        top: 8px;
        left: -15px;
        width: 130%;
        height: 130%;
        border: solid black;
        border-width: 1px 0 0 0;
        content: '';
        transform: rotate(40deg);
        pointer-events: none;
        // overflow:hidden;
    }
    &:after{
        position: absolute;
        top: 8px;
        left: 7px;
        width: 130%;
        height: 130%;
        border: solid black;
        border-width: 1px 0 0 0;
        content: '';
        transform: rotate(-40deg);
        overflow:hidden;
        pointer-events: none;
    }
}
.selected{
    position:relative;
    &:after{
        position:absolute;
        content:'';
        background-color:rgba(36, 95, 172, 0.5);
        width:100%;
        height:100%;
        top:0;
        left:0;
    }
}
.alertBox{
    position:absolute;
    background-color:white;
    color:red;
    padding:5px 10px;
    border-radius: 5px;
    display:flex;
    align-items: center;

    img{
        // width:25px;
        // height:25px;
        // margin-right:10px;
        // animation-name:alertBox;
        // animation-duration: 1s;
        // animation-iteration-count: 3;
    }
}
.fingerLeft{
    right: 55px;
    top:0;
    img{
        width:25px;
        height:25px;
        margin-right:10px;
        animation-name:alertBox;
        animation-duration: 1s;
        animation-iteration-count: 3;
    }
}
.fingerUp{
    left: 0px;
    top:125px;
    img{
        width:25px;
        height:25px;
        margin-right:10px;
        animation-name:alertBoxUp;
        animation-duration: 1s;
        animation-iteration-count: 3;
        transform:rotate(90deg);
    }
}
.selectTimeContainer {
    position:relative;

}
@keyframes alertBox {
    0%{
        transform: translateX(-5px);
    }
    50%{
        transform: translateX(0px);
    }
    100%{
        transform: translateX(-5px);
    }
}
@keyframes alertBoxUp {
    0%{
        transform: translateY(-5px) rotate(90deg);
    }
    50%{
        transform: translateY(0px) rotate(90deg);
    }
    100%{
        transform: translateY(-5px) rotate(90deg);
    }
}