html {
  font-size: 16px;
}

* {
  font-family: roboto, arial;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  margin: 0;
  background-image: -webkit-gradient(linear, left top, left bottom, from(#000614), to(#011936));
  background-image: -webkit-linear-gradient(#000614, #011936);
  background-image: -o-linear-gradient(#000614, #011936);
  background-image: linear-gradient(#000614, #011936);
  height: 100vh;
}

.header {
  width: 100%;
  background-color: black;
  height: 70px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 0 20px;
}

.header .headerContent {
  width: 1350px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: auto;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.header .logo {
  color: white;
  font-size: 1.4rem;
  font-weight: bold;
  width: 30%;
  padding-top: 20px;
}

.header .menuBtn {
  font-size: 1.1rem;
  text-decoration: none;
  color: white;
  font: weight 400px;
  height: 70px;
  display: inline-block;
  padding-top: 25px;
  font-weight: 400;
}

.header .menuPart {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 45%;
  max-width: 550px;
}

.header .searchBox {
  background-color: white;
  width: 200px;
  border: none;
  border-radius: 50px;
  padding-left: 10px;
  height: 30px;
  outline: none;
}

.header .searchBoxContainer {
  padding-top: 19px;
}
